/*
CSS specific to globe or multiple sections
*/

body {
    background-color: #f5f5f5;
}

section h2.section-heading {
    padding-top: 40px;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 18px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
}

section .section-note {
    color: #872121;
}

section a {
    cursor: pointer;
    text-decoration: underline;
}

.less {
    padding: 0px;
    margin: 2px;
}

h2.less {
    margin-bottom: 5px !important;
}

.navbar a.navbar-brand {
    color: #4F5D75;  
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.chapter {
    height: 100vh;
    position: relative;
    margin-top: 25px;
}

.chapter-intro .row {
    margin-top: 40px;
}

.chapter-intro blockquote {
    font-size: 15px;
    border-left: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

.chapter-intro p {
    font-size: 18px;
    text-align: justify;
}

.chapter-intro h3 {
    font-size: 25px !important;
}

.red-text {
    color: Red;
}

.blue-text {
    color: Blue;
}

.orange-text {
    color: OrangeRed;
}

.green-text {
    color: Green;
}

.purple-text {
    color: Purple;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.heavyweight {
    text-decoration: underline;
    font-weight: bold;
}


/*
CSS decorations specific to each section
*/

#navbar a {
    cursor: default;
    color: white;
}

#navbar .active a, #navbar a:hover {
    color: #4f5D75;
}

#intro {
    background: url('../img/UpdatedPrivacy2.jpg');
    background-size: cover;
    background-position: center;
}

#intro p.intro-note {
    color: #BFC0C0;
    font-size: 14px;
}

#intro .intro-text {
    padding-top: 350px;
    text-align: center;
    padding-bottom: 50px;
}

#intro .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 25px;
}

#intro .intro-text blockquote {
    border-left: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-bottom: 0px;
}

#preface .row, #summary .row {
    margin-top: 50px;
}

#preface h3 {
    font-size: 20px;
}

